coils.txt
plas_eq.nc
*.step
*.log
*.pickle
*.h5m
*.cub5
*.png
*.xml
core
*.exo
*.fac
*.stl
*.out
*.xml
*.vtk
*.h5
*.pkl
*.csv
!materials.xml
*.cub
*.sat
*.jou
logfile.txt
/__pycache__
__pycache__/**
*__pycache__*
/test
test*
*.txt
